{% extends "base.html" %}

{% block title %}My clients{% endblock %}

{% block content %}
    <h1>My clients</h1>

    <div class="module">
        {% for client in object_list %}
            <div class="client-info">
                <h3>{{ client.title }}</h3>
                <p><a href="{% url "student_client_detail" client.id %}">
                Access contents</a></p>
            </div>
        {% empty %}
            <p>
                You have no available documents yet. Please contact your agency for more information.
                <!-- <a href="{% url "client_list" %}">Browse clients</a>  -->
                <!-- to enroll in a client.  -->
            </p>
        {% endfor %}
    </div>
{% endblock %}